---
layout: default
---


<body>
	<!-- Header -->
	{% include header.html %}
	<!-- About -->

	<!-- Portfolio -->
	<div id="portfolio" class="section md-padding bg-grey">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">Best Books</h2>
				</div>
				<!-- /Section header -->

				<!-- Work -->
				{% for book in site.data.books %}
				<div class="col-md-4 col-xs-6 work">
					<img class="img-responsive" src="{{ book.image }}" alt="">
					<div class="overlay"></div>
					<div class="work-content">
						<span>{{ book.author }}</span>
						<h3>{{ book.title }}</h3>
						<div class="work-link">
							<a href="{{ book.link }}"><i class="fa fa-external-link"></i></a>
							<a class="lightbox" href="{{ book.image }}"><i class="fa fa-search"></i></a>
						</div>
					</div>
				</div>
				{% endfor %}
				<!-- /Work -->			

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Portfolio -->	

	<!-- Service -->
	<!-- Why Choose Us -->
	<!-- Numbers -->
	<!-- Pricing -->
	<!-- Testimonial -->
	<!-- Team -->	
	<!-- Blog -->	
	<!-- Contact -->

	<!-- Footer -->
	{% include footer.html %}
	<!-- /Footer -->

	<!-- Back to top -->
	<div id="back-to-top"><i class="fas fa-angle-double-up"></i></div>
	<!-- /Back to top -->

	<!-- Preloader -->
	<div id="preloader">
		<div class="preloader">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<!-- /Preloader -->

	<!-- jQuery Plugins -->
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/owl.carousel.min.js"></script>
	<script type="text/javascript" src="js/jquery.magnific-popup.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<!-- jsDeliver -->
</body>