---
layout: default
---


<body>
	<!-- Header -->
	{% include header.html %}
	<!-- About -->
	<div id="about" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">Big Ideas</h2>
				</div>
				<!-- /Section header -->

				<!-- about -->
				{% for idea in site.data.ideas %}
				<div class="col-md-4">
					<div class="about">
						{{ idea.icon }}	
						<h3>{{ idea.title }}</h3>
						<p>{{ idea.description }}</p>
						<a href="{{ idea.url }}">Read more</a>
					</div>
				</div>
				{% endfor %}
				<!-- /about -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /About -->

	<!-- Portfolio -->	

	<!-- Service -->	
	<!-- Why Choose Us -->
	<!-- Numbers -->
	<!-- Pricing -->
	<!-- Testimonial -->
	<!-- Team -->	
	<!-- Blog -->	
	<!-- Contact -->

	<!-- Footer -->
	{% include footer.html %}
	<!-- /Footer -->

	<!-- Back to top -->
	<div id="back-to-top"><i class="fas fa-angle-double-up"></i></div>
	<!-- /Back to top -->

	<!-- Preloader -->
	<div id="preloader">
		<div class="preloader">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<!-- /Preloader -->

	<!-- jQuery Plugins -->
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/owl.carousel.min.js"></script>
	<script type="text/javascript" src="js/jquery.magnific-popup.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<!-- jsDeliver -->
</body>