---
layout: default
comments: true
title: Antifragility
# other options
---

<body>
	<!-- Header -->
	{% include header.html %}
	<!-- About -->
	<!-- Portfolio -->	

	<!-- Service -->
	<div id="service" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">{{ page.title }}</h2>
				</div>
				<!-- /Section header -->                
                <div id="disqus_thread"></div>                
				<!-- service -->
				<!--<div class="col-md-4 col-sm-6">
					<div class="service">
						<i class="fas fa-dumbbell"></i>
						<h3>Antifragility</h3>
						<p>What doesn't kill me makes me stronger.</p>
					</div>
				</div>-->
				<!-- /service -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Service -->

	<!-- Why Choose Us -->
	<!-- Numbers -->
	<!-- Pricing -->
	<!-- Testimonial -->
	<!-- Team -->	
	<!-- Blog -->	
	<!-- Contact -->

	<!-- Footer -->
	{% include footer.html %}
	<!-- /Footer -->

	<!-- Back to top -->
	<div id="back-to-top"><i class="fas fa-angle-double-up"></i></div>
	<!-- /Back to top -->

	<!-- Preloader -->
	<div id="preloader">
		<div class="preloader">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<!-- /Preloader -->

	<!-- jQuery Plugins -->
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/owl.carousel.min.js"></script>
	<script type="text/javascript" src="js/jquery.magnific-popup.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<!-- jsDeliver -->

	<!-- Disqus Script -->
	<script>
		/**
		*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
		*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
		
		var disqus_config = function () {
		this.page.url = "https://unlearn.info/af";  // Replace PAGE_URL with your page's canonical URL variable
		this.page.identifier = "antifragile"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
		};
		
		(function() { // DON'T EDIT BELOW THIS LINE
			var d = document, s = d.createElement('script');
			s.src = 'https://latticework.disqus.com/embed.js';
			s.setAttribute('data-timestamp', +new Date());
			(d.head || d.body).appendChild(s);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>	
</body>